body {
	background-color: #E6EAE6;
	margin: 0px;
	padding: 0px;
	font-family: "Arial";
}

h1, h2, h3, h4, p {
	margin: 0px;
}

a {
	text-decoration: none;
	color: black;
	padding: 0px;
	margin: 0px;
}

#contents {
	overflow: auto;
	margin: auto;
	margin-bottom: 10px;
	padding: 0px;
	width: 1000px;
}

#headerSpan {
	position: fixed;
	width: 100%;
	height: 40px;
	margin: auto;
	padding: 0px;
	background-color: #70c972;
    border-bottom: 2px solid #377738;
}

#header {
	/*position: fixed;*/
	width: 990px;
	padding: 0px;
	margin: auto;
	padding-left: 5px;
	padding-right: 5px;
}

#headerImage {
	/*position: fixed;*/
	float: left;
	height: 36px;
	width: 40px;
	margin: 0px;
	padding: 0px;
}

#headerText {
	float: left;
	margin: 0px;
	padding: 0px;
	padding-left: 10px;
	margin-top: 8px;
}

#accountTab {
	float: right;
	height: 40px;
	padding: 0px;
	line-height: 40px;
}

#signOutButton {
	float: right;
	height: 40px;
	margin-right: 30px;
	padding: 0px;
	line-height: 40px;
}

.g-signin2 {
	float: right;
	margin-top: 2px;
	padding: 0px;
}

#contentsSpacer {
	float: left;
	height: 40px;
	width: 100%;
	margin: 0px;
}

#spacer {
	height: 5px;
	width: 1000px;
	float: left;
}

#sidebar {
	position: fixed;
	float: left;
	width: 200px;
	margin: 0px;
	padding: 0px;
	top: 46px;
}

.sidebarButton {
	margin-bottom: 1px;
	margin-right: 10px;
	padding: 5px;
	font-size: 16px;
}

#activeSidebarButton {
	background: #FFFFFF;
	border: 1px solid #C0D6C0;
	border-radius: 2px;
	padding: 4px;
}

.sidebarButton:hover {
	background: #FFFFFF;
	border: 1px solid #C0D6C0;
	border-radius: 2px;
	padding: 4px;
}

#mainContents {
	float: right;
	width: calc(100% - 210px);
	margin: 0px;
	padding: 5px;
	padding-top: 0px;
}

.deal {
	background: #FFFFFF;
	margin-top: 5px;
	height: 200px;
	border: 1px solid #C0D6C0;
	border-radius: 5px;
	cursor: pointer;
}

.dealImage {
	float: left;
	height: 190px;
	width: 190px;
	text-align: center;
    white-space: nowrap;
    padding: 5px;
}

.imageHelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.actualImage {
    vertical-align: middle;
    max-height: 190px;
    max-width: 190px;
}

.dealInfo {
	float: left;
	width: 280px;
	height: 190px;
	padding: 5px;
}

.dealType {
	float: left;
}

.dealItem {
	float: left;
	clear: left;
}

.dealNewPrice {
	float: left;
	clear: left;
}

.dealOldPrice {
	float: left;
	clear: left;
}

.displayDealStore {
	float: left;
	clear: left;
}

.votingColumn {
	float: right;
	width: 80px;
	padding: 5px;
	cursor: default;
	text-align: center;
}

.upvotes {
	float: left;
	width: 80px;
}

.totalVotes {
	float: left;
	clear: left;
	width: 80px;
}

.downvotes {
	float: left;
	clear: left;
	width: 80px;
}

.favorites {
	float: left;
	clear: left;
	width: 80px;
}

.dealStore {
	float: right;
	width: 190px;
	height: 190px;
	padding: 5px;
	text-align: center;
	line-height: 190px;
}



#cardBackgroundOverlay {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #000000;
	opacity: .7;
}

#clickedCard {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 800px;
	height: 600px;
	padding: 5px;
	background-color: white;
	border: 1px solid #C0D6C0;
	border-radius: 5px;
	overflow: auto;
}

#popupImage {
	float: left;
	width: 290px;
	height: 290px;
	padding: 5px;
	text-align: center;
    white-space: nowrap;
}

#actualPopupImage {
    vertical-align: middle;
    max-height: 290px;
    max-width: 290px;
}

#popupInfo {
	float: left;
	width: calc( 100% - 315px );
	padding: 5px;
}

#popupDealType {
	float: left;
}

#popupDealItem {
	float: left;
	clear: left;
}

#popupDealNewPrice {
	float: left;
	clear: left;
}

#popupDealOldPrice {
	float: left;
	clear: left;
}
#popupDisplayDealStore {
	float: left;
	clear:left;
}

#popupMap {
	float: left;
	clear: left;
	width: 788px;
	height: 588px;
	padding: 5px;
	border: 1px solid #C0D6C0;
	border-radius: 1px;
	overflow: visible;
}

#pageLinks {
	float: left;
	clear: left;
}

#prevPage {
	float: left;
}

#nextPage {
	float: left;
}

/**/